body,
html {
  height: 100%;
  overflow: hidden;
}
body {
  color: #333;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#navbar,
#main {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
}
#navbar {
  width: 120px;
  background: #a7ceff;
  z-index: 1;
}
#navbar h1 {
  font-size: 18px;
}
#main {
  width: 100%;
}
#main .tips {
  padding: 10px 20px;
  background: #eee;
}
#main .demo {
  margin-top: 20px;
  padding: 2px 2px 10px 2px;
  border: 1px solid #ddd;
}
#main .title {
  padding: 10px;
  border-bottom: 4px double #ddd;
}
#main .code {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}
#main pre {
  border: none;
}
