{% extends "./template/layout.html" %}
{% import "./macro/macro.html" as Method %}

{# 列表资源 #}
{% block topResources %}
<link rel="stylesheet" href="{{ url + root }}css/list.css" charset="utf-8">
{% endblock %}


{# 列表内容 #}
{% block body %}
<div class="lstContent container">
    {% block left %}
        <div class="leftCtn">
            <h1 class="bread">
                <span class="br-title">{{ blogListObject[type].name | default("未知") }}</span>
                <span class="br-sub">{{ subTitle }}</span>
            </h1>
            <!-- 文章内容 -->
            <section class="articleList">
                {% for item in dataList %}
                <article class="item">
                    <h2 class="title">
                        <a href="{{ url + root + item.link }}">{{ item.title }}</a>
                    </h2>
                    <div class="cnt">
                        {% if item.poster %}
                        <div class="poster" style="background-image:url({{ url + root + item.poster }})"></div>
                        {% endif %}
                        <div class="desc">
                            {{ item.description }}
                        </div>
                    </div>
                    <div class="msg">
                        <a href="{{ url + root + item.link }}" class="more">阅读全文 →</a>
                        <div class="info">
                            <span>{{ item.time }}</span>
                        </div>
                    </div>
                </article>
                {% else %}
                <article class="item">暂无数据</article>
                {% endfor %}
            </section>
            {% if pager.total > 1 %}
                {{ Method.pagination(pager.total, pager.start, pager.end, pager.index, url + root + pager.format) }}
            {% endif %}
        </div>
    {% endblock %}

    {% block right %}
        <div class="rightCnt">
        {% if column.rightSide %}
            {% set rights = column.rightSide %}
            {% for item in rights %}
            <div class="section">
                <p class="hd">
                    {{ item.title }}
                </p>
                {% if item.type == "text" %}
                        <div class="cnt">{{ item.content }}</div>
                    {% elif item.type == "link" %}
                        <ul class="cnt">
                        {% for link in item.list %}
                            <li>
                                <a href="{{ link.url }}" target="_blank">{{ link.text }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
        </div>
    {% endblock %}
</div>
{% endblock %}
