<div class="sideBar">
    <a href="javascript:;" class="item" data-role="loadScript">脚本加载</a><br/>
    <a href="javascript:;" class="item" data-role="defineModule">模块定义</a><br/>
    <a href="javascript:;" class="item" data-role="defineLoader">loader定义</a><br/>
    <a href="javascript:;" class="item" data-role="api">api</a><br/>
    <a href="./test/index.html" class="item" target="_blank">完整测试用例</a><br/>
    <a href="https://github.com/linfenpan/projectjs" class="item" target="_blank">github地址</a>
</div>
