@import "var";

html,body { width: 100%; height: 100%; overflow: hidden; }
body { max-width: $maxWidth; margin: 0 auto; }
body { background: $backgroundBody; font-size: $fzNormal; color: $colorNormal; }

.pull-right { float: right; }
.pull-left { float: left; }

.red { color: #f00; }
.green { color: #30b930; }
.blue { color: #2ea3e4; }
.orange { color: $colorActive; }
.light { color: $colorLight; }

#site-container { height: 100%; display: flex; flex-direction: column; }
#site-header, .site-header { position: relative; z-index: 10; background: $backgroundHeader; box-shadow: 0 2px 2px #fff; }
#site-content { flex: 1; overflow: auto; position: relative; padding-bottom: $paddingSmall; }
#site-footer { border-top: 1px solid $colorBorder; background: $backgroundNormal; }

#site-header, .site-header {
  $h: $heightHeader;
  $p: rem(5);
  height: $h;
  line-height: $h - 2 * $p;
  padding: $p 1.5 * $p;
  text-align: center;
  font-size: $fzBigger;
  color: #fff;
  a { color: #fff; }

  .title { @include textOverflowHidden; position: absolute; top: $p; left: 50%; width: rem(120); margin-left: -1 * rem(60); }
  .right { float: right; }
  .left { float: left; }
} // end #site-header

#site-footer {
  $h: $heightFooter;
  height: $h;
  line-height: $h * 0.4;

  .tabs {
    display: flex; height: 100%;
    li { display: block; flex: 1; border-left: 1px solid $colorBorder; }
    li:first-child { border-left: none; }
    a { display: block; padding-top: rem(5); text-align: center; color: lighten($colorNormal, 10%); transition: color .3s ease; }
    a.on { color: $colorActive; }
    .text { display: block; font-size: $fzSmall; }
  }
} // end #site-footer


// module: 站点左边的侧边栏
#site-sidebar {
  visibility: hidden;
  @include positionFixed(100%);
  z-index: 100;
  top: 0; left: 0;
  height: 100%;
  transition: visibility .3s ease .3s;

  .back {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .3s ease;
  }

  .content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: absolute;
    top: 0; left: 0;
    $w: rem(150);
    width: $w; height: 100%;
    padding: 0 $paddingSmall;
    background: $backgroundNormal;
    background-image: linear-gradient(270deg, #f5fbff 20%, #fff 80%, #fff);
    transform: translateX(-$w);
    transition: transform .3s ease;
  }

  .cnt {
    flex: 1;
    overflow: auto;

    .operList {
      padding-top: $paddingSmall;
      padding-bottom: $paddingNormal;
      border-bottom: rem(1) solid $colorBorder;
      &:last-child { border-bottom: none; }

      li { font-size: $fzSmall; }
      a { display: block; padding: $paddingNormal 0; color: $colorLight; }
    }
  }

  .hd {
    padding: $paddingSmall 0;
    font-size: 0;
    border-bottom: rem(1) solid $colorBorder;
    @include textOverflowHidden;

    $s: rem(30);
    .userLink { display: block; color: $colorNormal; }
    .icon, .name { vertical-align: middle; }
    .icon { width: $s; height: $s; border: 2px solid $colorBorder; border-radius: 50%; }
    .name { margin-left: $marginNormal; font-size: $fzNormal; }
  }

  .ft {
    display: flex;
    border-top: rem(1) solid $colorBorder;
    font-size: $fzSmall;

    .btn { flex: 1; display: block; padding: $paddingNormal 0; text-align: center; color: $colorNormal; }
  }

  // 动画部分
  &.on {
    visibility: visible;
    transition: none;

    .back {
      opacity: .5;
    }
    .content {
      transform: translateX(0);
    }
  }

  @at-root {
    .active-sidebar { overflow: hidden; }
    #site-container { transition: transform .3s ease; transform-origin: 100% 50%; }
    .active-sidebar #site-container { transform: translateX(rem(100)) scale(.92); }
  }
} // end #site-sidebar


// module: 阴阳师头像列表
.masters {
  font-size: 0;
  width: rem(55);
  height: rem(55);

  .m {
    display: inline-block;
    width: rem(20);
    height: rem(20);
    margin: rem(5) 0 0 rem(5);
    font-size: $fzNormal;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    opacity: 0.3;
    @include bottomShadow;
    &.on { opacity: 1; }
  }

  @for $i from 1 through 4 {
    .m#{$i} {
      background-image: url('../../image/master/#{$i}.png');
    }
  }
}


// module: 产品列表
.product-list {
  li, .item {
    background: $backgroundNormal;
  }
  .link {
    display: block;
    padding: $paddingNormal 0;
    padding-left: 0;
    color: $colorNormal;
  }

  .hd-cnt {
    line-height: rem(24);
    padding: $paddingSmall;
    padding-top: 0;
    margin-bottom: $marginNormal;
    border-bottom: 1px solid $colorBorder;
    font-size: $fzSmall;
    @include clearfix;

    .time { float: left; }
    .state { float: right; color: $colorActive; }
  }

  .ft-cnt {
    line-height: rem(24);
    padding: $paddingSmall;
    margin-top: $marginNormal;
    border-top: 1px solid $colorBorder;
    font-size: $fzSmall;
    @include clearfix;
  }

  .ft-oper {
    display: flex;
    border-top: 1px solid $colorBorder;
    text-align: center;
      .btn {
        flex: 1;
        padding: $paddingSmall * 1.5 $paddingSmall $paddingSmall * 1.75 $paddingSmall;
        border-left: 1px solid $colorBorder;
        transition: opacity .2s ease, background-color .2s ease;
        &:first-child { border: none; }
        &:active { opacity: .7; background-color: $backgroundBody; }
      }
  }

  .cnt { display: flex; padding-right: $paddingSmall; }
    .info { flex: 1; }
    .masters { margin: rem(5) rem(8) 0 0; }

  .info {
    line-height: 1.6;
    .name { float: right; }

    .data {
      font-size: $fzSmall;
      color: $colorLight;
      th { text-align: right; }
      td { padding-right: rem(8); }
    }

    .highlight {
      margin-top: $marginSmall;
    }

  } // end ./info
}


// module: 高亮
.highlight {
  font-size: 0;
  span {
    display: inline-block;
    padding: 0 rem(8);
    margin-right: rem(5);
    border: 1px solid $colorBorder;
    font-size: $fzSmall;
    color: #FF5722;
    background: $colorHighlight;
    border-radius: rem(10);

    &:last-child { margin-right: 0; }
  }
} // end ./highlight


// module: 顶栏切换
.title-tabs {
  position: relative;
  z-index: 10;
  display: flex;
  min-height: rem(40);
  background: $backgroundNormal;
  @include bottomShadow;

  .item {
    flex: 1;
    padding: $paddingNormal 0;
    text-align: center;
    color: $colorNormal;
    transition: color .3s ease;
  }
  .on {
    color: $colorActive;
  }
  .line {
    position: absolute;
    left: 0; bottom: 0;
    height: 2px; width: 0;
    background: $colorActive;
    transition: left .3s ease, width .3s ease;
  }
}


// module: 搜索弹出层
body .popup-search {
  @include positionFixed(100%);
  overflow: hidden;
  background: $backgroundNormal;

  @at-root {
    @media only screen and (max-width: $maxWidth) {
      &.animate-ready { transform: translate(100%, 0); }
      &.animate-active { transform: translate(0, 0); }
      &.animate-out { transform: translate(100%, 0); }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .search-content {
    flex: 1;
    overflow: auto;
    padding-bottom: $paddingNormal;
  }

  .search-header {
    display: flex;
    text-align: left;
    font-size: $fzNormal;
      .cnt {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 0 $paddingNormal;
        background: rgba(255, 255, 255, .2);
        border-radius: $paddingNormal * 3;
      }
      .input {
        display: block;
        flex: 1;
        height: 100%;
        margin-left: $marginSmall;
        border: none;
        font-size: $fzNormal;
        color: #fff;
        background: transparent;
        &::-webkit-input-placeholder  {
          color: rgba(255, 255, 255, .5);
        }
      }
      .cancel {
        margin-left: $marginNormal;
      }
  } // end ./search-header

  .search-list {
    padding: 0 $paddingSmall * 2;
    margin-top: $marginNormal * 1.5;
    font-size: $fzSmall;
      .hd {
        padding: $paddingSmall;
        padding-top: 0;
        border-bottom: rem(1) solid $colorBorder;
        color: $colorLight;
      }
      .list {
        font-size: 0;
        padding-top: $paddingSmall / 2;
        padding-bottom: $marginNormal * 1.5;
        text-align: center;
          a {
            display: inline-block;
            line-height: 2.1;
            border: 1px solid $colorNormal;
            padding: 0 $paddingNormal;
            margin: $paddingNormal $paddingSmall 0 0;
            font-size: $fzSmall;
            border-radius: $paddingSmall * 2.5;
            color: $colorNormal;
          }
          span {
            display: inline-block;
            width: 20%;
          }
      }

      a {
        transition: all .2s ease;
        &:active { color: $colorActive; border-color: $colorActive; }
      }
  } // end .search-list

} // end body .popup-search
