@import "var";

body {
  background: $backgroundBody;
  font-size: $fzNormal;
  color: $colorNormal;
}


// module: 广告切换
#indexBanner {
  width: 100%; height: 0;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;

  .swiper-container { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  .swiper-pagination-bullets { bottom: 2px; }
  .swiper-pagination-bullet { background: #fff; opacity: .5; }
  .swiper-pagination-bullet-active { opacity: 1; }

  .link { position: relative; }
  .link, .img { display: block; width: 100%; height: 100%; vertical-align: bottom; }
  .desc {
    width: 100%;
    @include textOverflowHidden;
    position: absolute;
    left: 0; bottom: 0;
    padding: $paddingNormal $paddingSmall;
    font-size: $fzSmall;
    color: #fff;
    background: rgba(0, 0, 0, .7);
    opacity: .5;
    transition: opacity .5s ease .2s;
  }
  .swiper-slide-active .desc {
    opacity: 1;
  }
}


// module: 快速进入
#indexQuickList {
  width: 100%;
  border-collapse: collapse;
  margin-top: $marginNormal;
  line-height: 1.6;
  background: $backgroundNormal;
  @include bottomShadow;

  td { border: 1px solid $colorBorder; text-align: left; }

  a { display: block; padding: rem(10); color: $colorNormal; }

  .desc { overflow: hidden; display: block; font-size: $fzSmall; color: $colorLight; }
  .icon {
    float: right;
    width: rem(30); height: rem(30);
    margin-left: rem(8); margin-top: rem(2);
    border: 2px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 0 3px #7bc4ff;
  }
}


// module: 最新上架
#recentList {
  padding-top: $paddingNormal;
  margin-top: $marginNormal;
  border: 1px solid $colorBorder; border-left: none; border-left: none;
  background: $backgroundNormal;
  @include bottomShadow;

  .header {
    padding-left: $paddingSmall;
    padding-bottom: $paddingSmall;
    border-bottom: 1px solid $colorBorder;
    font-size: $fzBigger;
  }

  .productList {
    li { border-bottom: 1px solid $colorBorder; }
    li:last-child { border-bottom: none; }
  }
}
