@import "./var";

#orderList {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;

  .orderContents {
    flex: 1;
    overflow: hidden;

    .swiper-container {
      height: 100%;
    }
    .swiper-slide {
      padding: $paddingNormal 0;
      overflow: auto;
    }
  }

  .product-list {
    li { margin-top: $marginNormal; @include bottomShadow; }
    li:first-child { margin-top: 0; }
    .ft-cnt { width: 70%; margin-left: 30%; }
  }
}

.notFind {
  $c: #129fee;
  display: block;
  padding-top: $paddingBigger;
  text-align: center;
  color: $c;

  &:before {
    content: '404';
    display: block;
    $s: rem(50);
    width: $s; height: $s;
    line-height: $s;
    margin: 0 auto $marginNormal auto;
    font-size: $fzBigger;
    font-weight: 600;
    color: $c;
    background: $backgroundNormal;
    border-radius: 50%;
    box-shadow: 1px 3px 5px $colorBorder;
    text-shadow: 5px 5px 2px $colorBorder;
  }

}

.loading {
  display: block;
  padding-top: $paddingBigger;
  text-align: center;
}
