@import "var";

.orderDetail {
  .module {
    line-height: 1.7;
    padding: $paddingNormal;
    margin-top: $marginNormal;
    background: $backgroundNormal;
    @include bottomShadow();
    &:first-child { margin-top: 0; }
  }

  .role-detail-item {
    margin-top: $marginNormal;
  }

  .orderInfo {
    line-height: 1.8;
  }
} // end .orderDetail


.orderFooter {
  display: flex;
  height: $heightFooter;
  line-height: $heightFooter;

  .info {
    flex: 1;
    color: $colorLight;
    padding: 0 $paddingSmall;
  }

  .buyBtn {
    padding: 0 $paddingBigger * 2;
    color: #fff;
    background: lighten($colorImportant, 7%);
  }
} // end .orderFooter
