@import "var";

.pageUser {
  // 用户信息
  .userInfo {
    padding: 0 $paddingSmall;
    background: $backgroundNormal;
    @include bottomShadow;

    .address {
      $h: rem(24);
      display: block;
      padding: $paddingSmall * 1.2 $paddingSmall;
      line-height: $h;
      border-bottom: 1px solid $colorBorder;
      font-size: $fzSmall;
      color: $colorNormal;
      .fa { line-height: $h; }
    }

    .detail {
      display: flex;
      padding: $paddingNormal $paddingSmall;
      .icon {
        display: block;
        width: rem(50);
        height: rem(50);
        border: 2px solid darken($colorBorder, 20%);
        box-shadow: -3px 3px 2px darken($colorBorder, 30%);
        border-radius: 50%;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
        margin-top: -$marginSmall;
        margin-left: $marginNormal;
        .intr { font-size: $fzSmall; color: $colorLight; }
      }
    }
  } // end .userInfo

  .operList {
    margin-top: $marginNormal;
    background: $backgroundNormal;
    @include bottomShadow;

    li {
      $h: rem(24);
      line-height: $h;
      border-bottom: 1px solid $colorBorder;
      .fa { line-height: $h; }
      &:last-child { border-bottom: none; }
    }
    a {
      display: block;
      padding: $paddingNormal;
      color: $colorLight;
    }
  } // end .operList
}
