/** 从非常久远的角楼，偷回来的样式 */
.prizesList {
    width: 21rem;
    margin: 1rem;
    background: url(./prizes.png) no-repeat;
    background-size: 100% 100%;
}
.prizesList:after {
    content: "";
    display: table;
    clear: both;
}
.prizesList .item {
    position: relative;
    float: left;
    width: 6.2rem;
    height: 5.481rem;
    margin: 2% 1.24%;
    background: #ffa780;
    border-radius: 1rem;
}
.prizesList .item:nth-child(3n + 2) {
    width: 7.0370rem;
}
.prizesList .item:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.85rem;
    background: #ffc2a6;
    border-radius: 0 0 1rem 1rem;
}
.prizesList .itemBtn:before {
    display: none;
}
.prizesList .itemBtn, .prizesList .itemBtn:before {
    background: transparent;
}
.prizesList .itemBtn.disable {
    -webkit-filter: grayscale(90%);
            filter: grayscale(90%);
}
.prizesList .drawPrizeBtn {
    display: block;
    width: 100%;
    height: 100%;
    background: url(./drawPrize.png) no-repeat;
    background-size: 100% 100%;
}
.prizesList .text {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: #5e0c00;
    font-size: 1.1rem;
}
.prizesList .wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 72, 0.5);
    border: 2px solid #ffe400;
    box-sizing: border-box;
    border-radius: 1rem;
    opacity: 0;
}
.prizesList .ico {
    position: absolute;
    top: 0;
    left: 14%;
    width: 4.4444rem;
    height: 4.4444rem;
    background: url(./prizes-ico.png) no-repeat;
    background-size: 4.185185rem auto;
}
.prizesList .ico1 {
    background-position: 1.1rem -4.85rem;
}
.prizesList .ico2 {
    background-position: 1.45rem -19.3rem;
}
.prizesList .ico3, .prizesList .ico7 {
    background-position: 1.1rem -2%;
}
.prizesList .ico4 {
    background-position: 1rem -15.2rem;
}
.prizesList .ico5 {
    left: 7%;
    background-position: 1rem -10.1rem;
}
.prizesList .ico6 {
    left: 22%;
    background-position: 0 -28rem;
}
.prizesList .ico8 {
    left: 18.5%;
    background-position: 0 -23.7rem;
}
.prizesList.active1 .item1 .wrap,
.prizesList.active2 .item2 .wrap,
.prizesList.active3 .item3 .wrap,
.prizesList.active4 .item4 .wrap,
.prizesList.active5 .item5 .wrap,
.prizesList.active6 .item6 .wrap,
.prizesList.active7 .item7 .wrap,
.prizesList.active8 .item8 .wrap{
    opacity: 1;
}
