@import "../var";

body .popup-filters {
  $innerPaddingTop: $paddingNormal * .75;
  $innerMarginLR: 3px; // 每个 item 距离左右两侧的margin
  $innerMarginTop: 6px; // 每个 item 距离顶部距离
  $heightItem: rem(30);

  display: flex;
  flex-direction: column;
    .content {
      flex: 1;
      overflow: auto;
      padding: 0 $paddingNormal;
    }

    .filters-footer {
      display: flex;
      height: $heightFooter;
      line-height: $heightFooter;
      border-top: rem(1) solid $colorBorder;
        .btn { flex: 1; display: block; border-left: rem(1) solid $colorBorder; text-align: center; color: $colorNormal; }
        .btn:first-child { border-left: none; }
        .btnSure { color: #fff; background: lighten($colorImportant, 10%); }
    } // .filters-footer

    .option {
      padding: $paddingBigger 0 $paddingBigger 0;
        .hd {
          position: relative;
          line-height: rem(20);
          padding-right: rem(10);
            .click {
              display: block;
              color: $colorNormal;
            }
            .preview {
              float: right;
              max-width: 50%;
              font-size: $fzSmall;
              color: $colorActive;
              @include textOverflowHidden();
            }
            .fa {
              position: absolute;
              top: rem(2.5);
              right: 2px;
              transition: transform .3s ease;
            }
            &.on {
              .fa { transform: rotate(180deg); }
            }
        }
    } // .option

    .select {
      padding-top: $paddingNormal;
      @include clearfix();
        li {
          float: left;
          line-height: rem(18);
          font-size: $fzSmall;
            .text {
              display: block;
              padding: $paddingSmall $innerMarginTop;
              margin: 0 $innerMarginTop / 2 ;
              border: rem(1) solid $backgroundBody;
              text-align: center;
              color: $colorNormal;
              background: $backgroundBody;
              cursor: pointer;
              transition: all .3s ease;
              @include textOverflowHidden();
                &.on {
                  color: $colorActive;
                  border-color: $colorActive;
                  background: $backgroundNormal;
                }
            }
        }

      @for $i from 2 through 4 {
        &.select#{$i} li {
          width: 100% / $i;
            &:nth-child(n + #{$i + 1}) {
              margin-top: $innerMarginTop;
            }
        }
      }
    } // .selects

    .input {
      $heightInput: $heightItem * 1;
      height: $heightInput;
      line-height: $heightInput;
      border: 1px solid lighten($colorLight, 30%);
      padding: 5px;
    }
    .range {
      display: flex;
      padding: $innerPaddingTop $innerMarginLR;
      padding-bottom: 0;
      justify-content: center;
      align-items: center;
        .input {
          display: block;
          flex: 1;
          width: 20%;
        }
        .space {
          overflow: hidden;
          height: 1px; width: rem(5); min-width: rem(5);
          margin: 0 4px;
          background: $colorNormal;
        }
    } // .range

    .iarea {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: $innerPaddingTop 0;
      padding-bottom: 0;
      font-size: $fzSmall;
        .input {
          display: block;
          width: 20%;
        }
        .wp {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: $heightItem;
          line-height: $heightItem;
          margin: 0 $innerMarginLR;
            :first-child {
              margin-right: $innerMarginLR * 1.5;
            }
            :last-child {
              flex: 1;
            }
        }
        label.wp {
          display: block;
          padding-left: $innerMarginTop;
          padding-right: $innerMarginTop;
          background: $backgroundBody;
        }

        @for $i from 1 through 4 {
          &.iarea#{$i} li {
            width: 100% / $i;
              &:nth-child(n + #{$i + 1})) {
                margin-top: $innerMarginTop;
              }
          }
        }
    } // .iarea

    .bb {
      border-bottom: rem(1) solid $colorBorder;
        &:last-child { border-bottom: none; }
    }
} // .popup-filters
